body {
    box-sizing: border-box;
    margin: 0;
    min-width: 384px;
    min-height: 192px;
    background-color: Menu;
    color: MenuText;
    overflow: hidden;
}


/* -- HEADER  ----------------------------------------- */

.header {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.75em 1em;
}

.title {
    text-align: center;
    font-weight: 900;
    padding: 2px 0 0;
}

img.logo {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
}

#closeBtn {
    position: absolute;
    display: inline-block;
    top: 0.75em;
    right: 0.75em;
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: ButtonText;
    background-color: ButtonFace;
}

#closeBtn:hover {
    border: 1px solid -moz-ButtonDefault;
    background-color: -moz-ButtonHoverFace;
    color: -moz-ButtonHoverText;
}

.icon {
    font: normal 1em/1 Arial, sans-serif;
    display: inline-block;
}

.icon.icon-close:before {
    content: "\2715";
    font-weight: 600;
    font-size: 1.125rem;
}


/* -- RESPONSE  ------------------------------------ */

#response {
    display: none;
    margin: 2em 0;
    margin-bottom: 1em;
    text-align: center;
}

#response .text {
    opacity: 0;
    padding: 12px 0;
    font-weight: 600;
}

#responseActionBtn {
    margin: 0.5em auto 0;
    opacity: 0;
}


/* -- FORMULAR – NEW TASK  ------------------------- */

#content {
    padding: 0 1em 0.75em;
}

.form-control {
    margin-top: 2em;
    position: relative;
    width: 100%;
}

.form-control > input {
    min-width: calc(384px - 2em);
}

.form-control > select {
    width: 100%;
}

.form-control > label {
    position: absolute;
    left: 0.75em;
    right: 0.75em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.875em;
    color: #fffc;
    transition: all 300ms;
}

input:focus + label,
input:not(:placeholder-shown) + label,
select.has-value + label {
    top: -1.35em;
    left: 4px;
    transform: translateY(0);
    font-size: 0.75em;
}

form > :not(:last-child) {
    margin-bottom: 1em;
}

.action-bar {
    text-align: right;
}

select {
    height: 2.25em;
}
